// -------------------------------------------------------------------------
//    Main
//--------------------------------------------------------------------------
@import 'headinfo';
@import 'hourlyforecast';
@import 'dailyforecast';
@import 'currentweather';
@import 'location';

.main {
  position: relative;
  z-index: 2;// Add z-index to show them on top of the dark mode overlay and prevent the color change
  margin: 0;
  max-width: calc(100vw - 2vmin);// TODO Check it
  border: 1px solid violet;
    // background: $linear-gradient;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;

  // Styles for tabs
  > input[type=radio] {
    display: none;
  }

  > label {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    z-index: 3;
    width: calc(100vw/3);
    height: 13vmin;
    background: var(--black);
    font-size: 3vmin;
    transition: background-color .4s;
    cursor: pointer;
    user-select: none;
    -webkit-text-fill-color: var(--grey);
    
    &::before {
      font-size: 5vmin;
    }

    &[for=tab-nav-1] {
      left: 0;
      transform: translate(0, 0);
      
      &::before {
        content: '⚓';
      }
    }

    &[for=tab-nav-2] {
      left: 0;
      transform: translate(100%, 0);
      
      &::before {
        content: '⛅';
      }
    }

    &[for=tab-nav-3] {
      right: 0;
      transform: translate(0, 0);

      &::before {
        content: '🧭';
      }
    }
  }

  .container {
    position: relative;
    z-index: -1;
   
    .tab {
      display: none;
    }
  }

  #tab-nav-1:checked ~ .container > div:nth-child(1),
  #tab-nav-2:checked ~ .container > div:nth-child(2),
  #tab-nav-3:checked ~ .container > div:nth-child(3) {
    display: block;
  }

  #tab-nav-1:checked ~ label[for=tab-nav-1],
  #tab-nav-2:checked ~ label[for=tab-nav-2],
  #tab-nav-3:checked ~ label[for=tab-nav-3] {
    -webkit-text-fill-color: var(--white);

    &::before {
      -webkit-text-fill-color: initial;//TODO Check it
    }
  }
  // .Styles for tabs

  // Refresh btn
  .refreshbtn {
    visibility: hidden;
    position: fixed;
    bottom: 1vmin;
    right: 1vmin;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    // outline: none;
    background-image: $theme-color;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.5;
    // transition: background-color .4s;
    // transition: all 200ms cubic-bezier(.71,0,.33,1.56) 0.1s;
    // transition: opacity 200ms cubic-bezier(.29, -0.32, .68, .41) .4s;
    will-change: transform;
    transition: all 1s ease-in-out;
    cursor: pointer;
    user-select: none;
    -webkit-text-fill-color: var(--black);

    &::before {
      content: '↻';
    }

    &:hover {
      -webkit-text-fill-color:black;
      opacity: 1;
    }
  }
}

.disablelocation {
  text-align: center;
}