// -------------------------------------------------------------------------
//    Variables
//--------------------------------------------------------------------------
$primary-color: #ffffff;
$secondary-color: #798895;
$theme-color: #282c34;