// -------------------------------------------------------------------------
//    Global styles
//--------------------------------------------------------------------------
@import 'normalize';
@import 'variables';
@import 'header';
@import 'main';
@import 'footer';
@import 'bar';
@import 'dataset';
@import 'animation';
@import 'darkmode';

body {
  margin: 0;
  max-width: 100vw;
  width: 100%;
  max-height: 100vh;
  background: $secondaryDark;//The background here is important since it's the color we'll be changing with the mix-blend-mode
  background-color: #00DBDE;
  // background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  font-family: Helvetica, sans-serif, system-ui;
  font-size: calc(14px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
  // font-size-adjust: 0.6;
  // -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;

  // Keep the Footer at the Bottom: Flexbox vs. Grid https://codepen.io/5t3ph/pen/abvboxz
  // Options: flexbox | grid
  $method: grid;
  #root {
    position: relative;
    margin: 0;
    min-height: 100vh;
    max-width: inherit;
    background: $linear-gradient;
		background-clip: text;
		-webkit-text-fill-color: transparent;

    @if ($method == "flexbox") {
      // Flexbox method
      display: flex;
      flex-direction: column;
    } @else {
      // Grid method
      display: grid;
      grid-template-rows: auto 1fr auto;
    }
  }

  @if ($method == "flexbox") {
    footer {
      margin-top: auto;
    }
  }

  header,
  footer {
    display: grid;
    place-items: center;
  }
}

// Apply styles when the user has scrolled away from the topâ€
html:not([data-scroll='0']) {
  .main {
    // margin: 0;
    
    .refreshbtn {
      visibility: visible;
      transform: translate(-1vmin, -94vh);
    }

    .head {
      position: sticky;
      top: 0;
      z-index: 4;
      // margin: 2vmin 0;
      background: transparent;
      border: 1px solid black;

        .head-info {
          grid-template-columns: repeat(3,1fr);
          grid-template-rows: auto;
          grid-template-areas:
            "city city temperature"
            "description description temperature";
          justify-items: start;
          align-items: center;

          transition: grid 3s 1s;

          & > div {
            margin: 0; 
          }
          
          // p {
          //   &:nth-of-type(n+1) {
          //     margin: 0;
          //   }
          // }
          .city {
            grid-area: city;
            font-size: 1rem;
            
          }
          .temperature {
            grid-area: temperature;
            justify-self: center;
            font-size: 3rem;
          }
          .description {
            grid-area: description;
   
            font-size: 1rem;
          }
          .realfeel, .weather-icon, .weather-icon img, .headline {
            display: none;
            // width: 0;
            // height: 0;
            // opacity: 0.1;
            // visibility: collapse;
          }
        }
      
      
    }

  }
  .current-weather {
    margin-bottom: 3vmin;
    .current-conditions {
      grid-template-rows: 0.5fr 1fr 0.3fr repeat(2, 0.3fr) 0.4fr;
    }
 
  }
}

a {
  color: inherit;
  text-decoration: none;
}

// 
// ::-webkit-scrollbar {
//   width: 12px;
// }
// ::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  // border-radius: 10px;
// }
// ::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
// }